body {
    font-family: Arial, sans-serif;
    background: #f3f3f3;
}

.container {
    width: 450px;
    margin: 50px auto;
    background: #ffffff;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #999;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #bbb;
}

button {
    width: 100%;
    padding: 12px;
    background: #0099ff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 17px;
    cursor: pointer;
}

button:hover {
    background: #007acc;
}

/* Submitted data card */
.data-card {
    width: 500px;
    margin: 40px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px #888;
}
